@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tshilobo is a social media network, for churches" />
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
    <meta name="robots" content="index, follow" />
    <title>Tshilobo - @ViewData["Title"]</title>

    <!-- Stylesheets
    ================================================= -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    @*<link href="~/css/fv.css" rel="stylesheet" />*@

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/fav.png" />
</head>
<body>

</body>
</html>
<!-- Header
================================================= -->
<header id="header-inverse">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index-register.html"><img src="~/images/logo.png" alt="logo" /></a>
            </div>
            <div class="nav navbar-nav navbar-right">
                <a class="btn btn-primary" asp-page="./Login">Login</a>
            </div>

        </div><!-- /.container -->
    </nav>
</header>
<!--Header End-->
<!-- Registration Page Contents
================================================= -->
<div id="lp-register">
    <div class="container wrapper">
        <div class="row">
            <div class="col-sm-5">
                <div class="intro-texts">
                    <h1 class="text-white">Make Cool Friends !!!</h1>
                    <p>Friend Finder is a social network template that can be used to connect people. The template offers Landing pages, News Feed, Image/Video Feed, Chat Box, Timeline and lot more. <br /> <br />Why are you waiting for? Buy it now.</p>
                    <button class="btn btn-primary">Learn More</button>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <div class="reg-form-container">
                    <!--Registration Form Contents-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="register">
                            <h3>Register Now !!!</h3>
                            <p class="text-muted">Be cool and join today. Meet millions</p>
                            @if (Model.ShowMessage)
                            {
                                <div class="alert alert-danger alert-dismissible text-center" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    @Model.StatusMessage
                                </div>
                            }
                            <form asp-route-returnurl="@Model.ReturnUrl" name="registration_form" id='registration_form' class="form-inline" novalidate>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="row">
                                    <div class="form-group col-xs-6">
                                        <label class="sr-only">First Name</label>
                                        <input asp-for="Input.FirstName" class="form-control input-group-lg" placeholder="First Name" required type="text"
                                               data-validate-length-range="2,70" />
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label class="sr-only">Last Name</label>
                                        <input asp-for="Input.LastName" class="form-control input-group-lg" placeholder="Last Name" required type="text"
                                               data-validate-length-range="2,70" />
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label class="sr-only">Email</label>
                                        <input asp-for="Input.Email" class="form-control input-group-lg" placeholder="Email" required type="email" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="birth"><strong>Date of Birth</strong></p>
                                    <div class="form-group col-sm-3 col-xs-6">
                                        <label class="sr-only">Day</label>
                                        <select asp-for="Input.Day" asp-items="@Model.Days" class="form-control" required></select>
                                        <span asp-validation-for="Input.Day" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-sm-3 col-xs-6">
                                        <label class="sr-only">Month</label>
                                        <select asp-for="Input.Month" asp-items="@Model.Months" class="form-control" required></select>
                                        <span asp-validation-for="Input.Month" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-sm-6 col-xs-12">
                                        <label class="sr-only">Year</label>
                                        <select asp-for="Input.Year" asp-items="@Model.Years" class="form-control" required></select>
                                        <span asp-validation-for="Input.Year" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label class="sr-only">Gender</label>
                                        <select asp-for="Input.GenderId" asp-items="@Model.Genders" class="form-control number" required></select>
                                        <span asp-validation-for="Input.GenderId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label class="sr-only">Password</label>
                                        <input asp-for="Input.Password" class="form-control input-group-lg" type="password" 
                                               placeholder="Password"  />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label class="sr-only">Confirm Password</label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control input-group-lg" type="password"
                                                placeholder="Confirm Password" required />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <p><a asp-page="./Login">Already have an account?</a></p>
                                <button class="btn btn-primary" type="submit">Register Now</button>
                            </form>


                            @*<form asp-route-returnurl="@Model.ReturnUrl" name="registration_form" id='registration_form' class="form-inline" novalidate>
            <div class="row">
                <div class="form-group col-xs-6 field">
                    <label class="sr-only">First Name</label>
                    <input asp-for="Input.FirstName" class="form-control input-group-lg" placeholder="First Name" required="required" type="text"
                           data-validate-length-range="2,70" />
                </div>
                <div class="form-group col-xs-6 field">
                    <label class="sr-only">Last Name</label>
                    <input asp-for="Input.LastName" class="form-control input-group-lg" placeholder="Last Name" required="required" type="text"
                           data-validate-length-range="2,70" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 field">
                    <label class="sr-only">Email</label>
                    <input asp-for="Input.Email" class="form-control input-group-lg" placeholder="Email" required="required" type="email" />
                </div>
            </div>
            <div class="row">
                <p class="birth"><strong>Date of Birth</strong></p>
                <div class="form-group col-sm-3 col-xs-6 field">
                    <label class="sr-only">Day</label>
                    <select asp-for="Input.Day" asp-items="@Model.Days" class="form-control" required="required"></select>
                </div>
                <div class="form-group col-sm-3 col-xs-6 field">
                    <label class="sr-only">Month</label>
                    <select asp-for="Input.Month" asp-items="@Model.Months" class="form-control" required="required"></select>
                </div>
                <div class="form-group col-sm-6 col-xs-12 field">
                    <label class="sr-only">Year</label>
                    <select asp-for="Input.Year" asp-items="@Model.Years" class="form-control" required="required"></select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 field">
                    <label class="sr-only">Gender</label>
                    <select asp-for="Input.GenderId" asp-items="@Model.Genders" class="form-control number" required="required"></select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 field">
                    <label class="sr-only">Password</label>
                    <input asp-for="Input.Password" class="form-control input-group-lg" type="password" name="password"
                           placeholder="Password" required="required" data-validate-length-range="6,100" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 field">
                    <label class="sr-only">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control input-group-lg" type="password" name="password2"
                           data-validate-linked="password" placeholder="Confirm Password" required="required" />
                </div>
            </div>
            <p><a asp-page="./Login">Already have an account?</a></p>
            <button class="btn btn-primary" type="submit">Register Now</button>
        </form>*@




                            <!--Register Now Form Ends-->
                        </div><!--Registration Form Contents Ends-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>

<!-- Scripts
================================================= -->
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.appear.min.js"></script>
<script src="~/js/jquery.incremental-counter.js"></script>
<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/script.js"></script>
@*<script src="~/js/validator.js"></script>*@

@*<script>
    // initialize a validator instance from the "FormValidator" constructor.
    // A "<form>" element is optionally passed as an argument, but is not a must
    var validator = new FormValidator({ "events": ['blur', 'input', 'change'] }, document.forms[0]);

    // on form "submit" event
    document.forms[0].onsubmit = function (e) {
        var submit = true,            
            validatorResult = validator.checkAll(this);

        console.log(validatorResult);
        return !!validatorResult.valid;
    };


    // on form "reset" event
    document.forms[0].onreset = function (e) {
        validator.reset();
    };

    // stuff related ONLY for this demo page:
    $('.toggleValidationTooltips').change(function () {
        validator.settings.alerts = !this.checked;

        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);
</script>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}




